body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  margin: 0px 170px;
  width: 300px;
  padding: 30px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  position: relative; /* Add this line */
}

.login-box h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input  {
  width: 100%;
  padding: 8px 0px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-group input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
.form-group input[type="Registration"] {
  background-color: #4CAF50;
  margin: 8px 0px;
  padding: 8px 0px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-left: 1px solid #ccc;
}
.left-side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: rgb(244, 117, 6);
}

.right-side {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #052277;
}

#loginMessage1,
#loginMessage2 {
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .login-box {
    margin: 0 10px; /* Adjust the margin further for smaller screens */
    padding: 20px; /* Adjust the padding further for smaller screens */
    max-width: none; /* Remove the maximum width */
  }

  .left-side,
  .right-side {
    display: none; /* Hide the side divs on smaller screens */
  }
}